body {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: darkblue;
    
    /* B-kohta */
    margin: 30px;
    padding: 20px;
    border: 3px solid darkblue;
}

p {
    text-align: center;

    /* B-kohta */
    margin: 20px;
    padding: 15px;
    border: 2px solid darkblue;
}
.laatikot {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.laatikko {
    background-color: white;
    padding: 20px;
    border: 2px solid darkblue;
    margin: 10px;
    width: 200px;
}
@media (max-width: 700px) {
    .laatikot {
        flex-direction: column;
        align-items: center;
    }

    .laatikko {
        width: 90%;
    }
}
.laatikko {
    background-color: white;
    padding: 20px;
    border: 2px solid darkblue;
    margin: 10px;
    width: 200px;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    transition: 0.3s;
}

.laatikko:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
button {
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: royalblue;
    transform: scale(1.05);
}
